

.game-image {
  height:486px;
  width: 147px;
  border-radius: 3px;
  position: auto;
}

#featured-games {
  height: 100%;
  width: 100%;
}
#game-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div {
  inline-size: 150px;
}

body {
  background-color: #C84B31;
}

 .navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #617143;
}

.nav-link a{
  float: left;
}

.nav-link.active{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link a:hover {
  background-color: #ECDBBA;
}
.active {
  background-color: #;
}

.card{
  background: white;
  height: 35%;
  text-align: center;
}