body {
  width: 100%;
  height: 100vh;
}

.game-image {
  height: 250px;
  width: 216px;
  border-radius: 3px;
  position: auto;
}

#featured-games {
  height: 100%;
  width: 100%;
}
#game-list {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div {
  inline-size: 150px;
}

body {
  background-color: #2c3440;
}

 .navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}



.nav-link a{
  float: left;
} 

 .nav-link.active{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link a:hover {
  background-color: #ECDBBA;
} 

 
.card{
  width: 15%;
  height: 70%;
  background-color: black ;
}

h6 {
  color:white;
} 

.navbar-brand{
  height: 300px;
}
